:root {
	--branding-color:#842029;
	--secondary-color:#080f25;
	--heading-font-family:'Playfair Display', serif;
	--default-font-family:'Poppins', sans-serif;
}

body {
	font-family: var(--default-font-family);
	background-color: rgb(8, 15, 37, 0.9);
	margin-bottom: 150px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: whitesmoke;
}

h1{
	font-size: 96px;
	line-height: 1.5;
	margin-top: 30px;
}

h2 {
	font-size: 64px;
}

h4 {
	color:var(--secondary-color);
	font-size:48px ;
}

p {
  	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: whitesmoke;
}

a {
	color: whitesmoke;
	text-decoration: none;
}

a:hover {
	color: var(--branding-color);
}
 
.container {
	margin: 0px 50px 150px 50px;
}

.profile-img {
	width: 60%;
}

.hero {
	background: var(--secondary-color);
	color:whitesmoke;
	text-align: center;
	padding: 160px 20px;
}

.hero p {
	color:#ABABAB;
	font-size: 36px;
	font-weight: bold;
	margin: 0;
}

.hero h2 {
	color:#ABABAB;
	font-family: var(--heading-font-family);
	font-weight: normal;
	line-height: 1.5;
	font-size: 24px;
}

.content-container {
	padding: 0;
	text-align: center;
}

.content h1 {
	font-size: 64px;
	line-height: 80px;
}

.content h2 {
	font-size: 18px;
	font-family: var(--default-font-family);
}

.content h3 {
	font-size:24px;
	line-height: 1.5;
	font-family: var(--default-font-family);
}

.content p {
	font-size: 14px;
}

.content {
	margin: 30px;
}

.btn-branding {
	background: var(--branding-color);
	border-radius: 4px;
	color: white;
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
}

.btn-branding-outline {
	color: var(--branding-color);
	border: 1px solid  var(--branding-color);
	border-radius: 4px;
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
}

.btn-branding-outline:hover {
	color: whitesmoke;
}

.project-description {
	padding: 120px 60px;
}

.kizomba {
  position: absolute;
	width: 560px;
	height: 560px;
	left: 85px;
	top: 1000px;
}

.weather {
	position: relative;
	bottom: -100px;
}


@media (max-width: 900px) {
	h1 {
		font-size: 44px;
		line-height: 56px;
	}

	h2 {
		font-size: 44px;
	}
	
	.hero {
		padding: 80px 20px;
	}

	.project-description {
		padding: 0;
		text-align: center;
	}
}

footer {
	margin: 60px 0;
}

footer .social-links a {
	margin: 0 20px;
	color: whitesmoke;
	background-color: var(--branding-color);
	padding: 10px 14px;
	font-size: 18px;
	border-radius: 50%;
	transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
	color:var(--secondary-color);
	background-color: whitesmoke;
}

footer .contact-box {
	background-color: whitesmoke;
	padding: 30px 120px;
	border-radius: 10px;
	margin-left: 70px;
	margin-right: 70px;
}

footer .contact-box p {
	margin: 0;
}
	

.footer {
	text-align: center;
	position: relative;
	top:90px;
	font-size: 12px;
}

